.collection-item {
  width: 400px;
  margin: 10px;
  height: 500px;

  &:first-child {
    margin-left: 40px;
  }
  &:last-child {
    margin-right: 40px;
  }
  .image {
    height: 500px;
    background-position: center;
    background-size: cover;
  }
  .collection-footer {
    padding-top: 10px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
}
