.cart-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;

  & span {
    padding-right: 10px;
    position: absolute;
  }
}
