.preview {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.title {
  margin-left: 40px;
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  color: #45b8ac;
  text-decoration: underline wavy 2px red;
}
